---
const title = Astro.props.title || "Pendaftaran Santri Online";
const description = Astro.props.description || "Pendaftaran Santri Online";
const ogTitle = Astro.props.ogTitle || title;
const ogDescription = Astro.props.ogDescription || description;
const ogImage = Astro.props.ogImage || "/logo.svg";
const ogType = Astro.props.ogType || "website";
import "../assets/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      const setTheme = () => {
        const theme = localStorage.getItem("theme") || "cupcake";
        document.documentElement.setAttribute("data-theme", theme);
      };
      setTheme();
      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" href="favicon.ico" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content={ogType} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content={ogImage} />

    <meta property="twitter:card" content={ogType} />
    <meta property="twitter:title" content={ogTitle} />
    <meta property="twitter:description" content={ogDescription} />
    <meta property="twitter:image" content={ogImage} />

    <meta property="url" content={Astro.url.href} />
    <meta property="canonical" content={Astro.url.href} />

    <meta property="locale" content="id_ID" />

    <meta property="author" content="" />
    <meta property="publisher" content="" />
    <meta property="generator" content={Astro.generator} />
    <meta property="coverage" content="Indonesia" />
    <meta property="distribution" content="Global" />
    <meta property="rating" content="General" />
    <meta property="webc-author" content="" />
    <meta property="webc-publisher" content="" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
